body{
  background-color: #f4f3f3;
}

#title{
  text-align: center;
  font-family: Poppins;
  margin-top: 60px;
}

.start{
  font-weight: 200;
}
.bold{
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.ptitle{
  width: 40%;
  font-weight: 200;
  margin: 0 auto;
}

#cards{
  margin: 50px auto auto;
}

.container{
  display: flex;
  /* justify-content: space-between; */
}

.space{
  margin: 20px;
}

.pcard{
  width: 80%;
}

.card{

  border-top-width: thick;
  padding: 30px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card1{
  border-top-color: red;
  margin-top: 50%;
}

.card2{
  border-top-color: green;
}

.card3{
  border-top-color: yellow;
}

.card4{
  border-top-color: blue;
  margin-top: 50%;
}

.icard{
  width: 20%;
  margin: 10% 0 0 80%;
}
